body {
	color: black;
	font-family: Courier;
}

button {
	font-family: Courier;
	background-color: #8DB200;
	border: 2px solid black;
	border-radius: 4px;
}

h2 {
	text-align: center;
	border-bottom: 2px solid black;
	padding-bottom: 20px;
}

.var {
	height: 15px;
	font-family: Courier;
	border: 2px solid black;
	border-radius: 4px;
	padding: 30px;
	text-align: center;
	line-height: 70px;
	box-shadow: inset 0 0 10px #000000;
}

.low {
	background-color: #7F3D5E;
}

.avg {
	background-color: #6E4E7F;
}

.high {
	background-color: #A4C2CC;
}

.newobj {
	background-color: #6E4E7F;
	text-align: left;
	width: 80%;
	display: block;
	margin: 30px;
	padding-top: 30px;
	padding: 30px;
	border: 2px solid black;
	border-radius: 5px;
	box-shadow: inset 0 0 10px #000000;
}

#formArea {
	margin: 30px;
	padding-top: 30px;
	padding: 30px;
	border: 2px solid black;
	border-radius: 5px;
	width: 80%;
}

.removebutton {
	width: 100px;
	height: 60px;
	display: inline;
	float: right;
	margin: 0 0 100px 200px;
	box-shadow: inset 0 0 10px #000000;
}

#employeeForm {
	padding: 30px;
	margin: 50px 0 0 50px;
}

#emplRandomizer {
	width: 100px;
	height: 60px;
	font-color: green;
	margin: 50px;
	box-shadow: inset 0 0 10px #000000;
}



